<template>
  <button
    class="btn"
    @click="$emit('clickHandler')">
    Click
  </button>
</template>

<script setup lang="ts">

import { ref } from 'vue'

defineEmits(['clickHandler'])
</script>
