<template>
  <div>
    <Fulano @clickHandler="clickCallback" />
    <div class="h-screen text-center flex select-none all:transition-400">
      <div class="ma">
        <div class="text-5xl font-mono animate-bounce-alt animate-count-infinite animate-duration-1s">
          Notoriun Vue Template
        </div>
        <div class="opacity-30 text-lg italic">
          Typescript, Vue 3, Vue Router, Vite, Tailwind, Eslint, UnoCSS, PostCSS
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

import Fulano from '@/components/ComponentTest.vue'
import { useGeneral } from '@/store/general/general'

const store = useGeneral()
store.name = 'Fulano de TAL'
console.log(store.name)

const clickCallback = () => {
  console.log('Click')
}
</script>
